


    <md-grid-list cols="6" rowHeight="700px" gutterSize="10px"  style="width: 1400px;" >
      <md-grid-tile [colspan]="2" >
        <md-card class="example-card">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title><b>Gilian Joosen</b></md-card-title>
            <md-card-subtitle>Developer</md-card-subtitle>
          </md-card-header>
          <img md-card-image [src]="Gilian" style="height: 450px">
          <md-card-content>
            <p>
              A software developer is a person concerned with facets of the software development
              process, including the research, design, programming, and testing of computer software.
              Other job titles which are often used with similar meanings are programmer,
              software analyst, and software engineer.
            </p>
          </md-card-content>
          <md-card-actions>
            <a href="https://www.linkedin.com/in/gilian-joosen-55216b100/"><button md-button style="color: black">LinkedIn</button></a>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
      <md-grid-tile [colspan]="2">
        <md-card class="example-card">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title><b>Karel van Waveren</b></md-card-title>
            <md-card-subtitle>Developer</md-card-subtitle>
          </md-card-header>
          <img md-card-image [src]="Karel" style="height: 450px">
          <md-card-content>
            <p>
              A software developer is a person concerned with facets of the software development
              process, including the research, design, programming, and testing of computer software.
              Other job titles which are often used with similar meanings are programmer,
              software analyst, and software engineer.
            </p>
          </md-card-content>
          <md-card-actions>
            <a href="http://ducksarethebest.com/"><button md-button style="color: black">LinkedIn</button></a>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
      <md-grid-tile [colspan]="2">
        <md-card class="example-card">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title><b>Frits Thissen</b></md-card-title>
            <md-card-subtitle>Developer</md-card-subtitle>
          </md-card-header>
          <img md-card-image [src]="Frits" style="height: 450px">
          <md-card-content>
            <p>
              A software developer is a person concerned with facets of the software development
              process, including the research, design, programming, and testing of computer software.
              Other job titles which are often used with similar meanings are programmer,
              software analyst, and software engineer.
            </p>
          </md-card-content>
          <md-card-actions>
            <a href="https://www.linkedin.com/in/frits-thissen-868b90121/"><button md-button style="color: black">LinkedIn</button></a>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
