<md-grid-list cols="6" rowHeight="400px" gutterSize="0px" style="width: 1400px">

  <md-grid-tile [colspan]="3" [rowspan]="1">

    <md-card id="datablock" style="height: 85%">
      <md-card-title>Stroomvebruik afgelopen 24 uur</md-card-title>
      <md-card-content><line-chart-demo></line-chart-demo></md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <md-card id="datablock" style="height: 85%">
      <md-card-title>Stroomvebruik afgelopen week</md-card-title>
      <md-card-content><line-chart-demo></line-chart-demo></md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <md-card id="datablock" style="height: 85%">
      <md-card-title>Stroomvebruik afgelopen 24 uur</md-card-title>
      <md-card-content><line-chart-demo></line-chart-demo></md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <md-card id="datablock" style="height: 85%">
      <md-card-title>Stroomvebruik afgelopen 24 uur</md-card-title>
      <md-card-content><line-chart-demo></line-chart-demo></md-card-content>
    </md-card>
  </md-grid-tile>


</md-grid-list>
