<md-grid-list cols="6" rowHeight="400px" gutterSize="0px" style="width: 1400px">


  <md-grid-tile [colspan]="3" [rowspan]="1">
    <md-card id="datablock" style="height: 85%; width: 600px;">
      <md-card-title>Current usage in Watts</md-card-title>
      <md-card-content style="font-size: 150px; text-align: center">100W</md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <md-card id="datablock" style="height: 85%">
      <md-card-title>Energy usage last 24 hours</md-card-title>
      <md-card-content><line-chart-24h></line-chart-24h></md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <md-card id="datablock" style="height: 85%">
      <md-card-title>Energy usage last week</md-card-title>
      <md-card-content><line-chart-1-wk></line-chart-1-wk></md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <md-card id="datablock" style="height: 85%">
      <md-card-title>Energy usage last month</md-card-title>
      <md-card-content><line-chart-1-mnt></line-chart-1-mnt></md-card-content>
    </md-card>
  </md-grid-tile>



</md-grid-list>
